*   {
    margin: 0;
    padding: 0;
}

body    {
    font-family: sans-serif;
    background: linear-gradient(to right, #49A3BF, #401093);
}

header  {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

#first-section  {
    border: 1px solid #7CFFD5;
    width: 1363px;
    flex-direction: row;
    justify-content: start;
    background-color: #7CFFD5;
}

#first-section .head  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

#second-section    {
    padding: 20px 40px;
}

#second-section .form-area    {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 900;
    font-size: large;
    font-family: arial;
    gap: 30px;
}

#second-section .form-area div  {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#second-section .form-area div div  {
    position: relative;
}

#second-section .form-area div div iconify-icon {
    position: absolute;
    top: 35%;
    right: 6%;
    color: black;
    font-size: 0.8rem;
}

input[type="password"]  {
    padding: 10px;
    width: 70px;
    background-color: #A0A5CF;
    border: 1px solid white;
    border-radius: 5px;
    font-size: large;
    font-family: arial;
    font-weight: 900;
    outline: none;
}

#second-section .form-area .gradient    {
    border: 1px solid #7CFFD5;
    border-radius: 5px;
    padding: 10px;

}

#second-section .form-area .gradient div    {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    font-weight: 600;
}

#second-section .form-area .gradient div div {
    position: relative;
}

#second-section .form-area .gradient div div iconify-icon {
    position: absolute;
    top: 32%;
    right: 3%;
    color: black;
    font-size: 0.8rem;
}

input[type="text"]  {
    width: 400px;
    padding: 10px;
    background-color: #A0A5CF;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
}

button  {
    background-color: #7CFFD5;
    border: 1px solid #7CFFD5;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
}

::placeholder   {
    color: black;
}

